* 
{  box-sizing  : border-box !important;  /** include content + border + padding in box size **/
   font-family : 'Open Sans', sans-serif ;
   font-size   : 12pt ; 
   overscroll-behavior: none;  /** see: https://developer.mozilla.org/en-US/docs/Web/CSS/overscroll-behavior **/
}

body
{
   background-color : rgb(20%,20%,20%) ;
   color            : rgb(95%,95%,95%) ;
}
h1, h2, h3
{  font-family : 'Marcellus SC', sans-serif ;
   font-weight : bold ;
}

h1
{  font-size : 18pt ;
}
h2
{  font-size : 16pt ;
}
h3
{  font-size : 14pt ;
}



a
{
   text-decoration     : none ;
   border-bottom-width : 2pt ;
   border-bottom-style : solid ;
   border-bottom-color : sandybrown;    
   color               : rgb( 95%, 95%, 95%) ;
}
#outer_div_id
{
   width           : 100% ;
   display         : flex ;
   flex-direction  : column ;
   flex-wrap       : nowrap ;
   align-items     : center ;
   
   /**
   border-color     : rgb(0%,65%,0%);
   border-style     : solid ;
   border-width     : 5px ;
   background-color : rgb(80%,95%,80%) ;
   **/
}

.bsp_class
{
   cursor           : pointer ;
   background-color : rgb(30%,30%,30%) ;
   color            : sandybrown;    
   border-style     : solid ;
   border-color     : sandybrown;
   border-width     : 2px ;
   border-radius    : 10px ;
   padding-left      : 13px ;
   padding-right     : 13px ;
   padding-top       : 4px ;
   padding-bottom    : 4px ;
}



.buttons_row_div_class
{
   padding-bottom : 5px ;
}

#status_div_id
{
   color             : rgb( 0%,  0%, 0%);
   background-color  : sandybrown ;
   width             : 100% ;
   padding           : 4px ;
   margin-top        : 8px ;
   border-radius     : 10px ;
   padding-left      : 13px ;
   padding-right     : 13px ;
   padding-top       : 6px ;
   padding-bottom    : 6px ;
}

#upper_container_id
{
   padding-bottom : 1em ;
}

#middle_section_id
{
   width          :  100% ;
   display        :  flex ;
   flex-direction :  row ;
   
}

#canvas_container_id
{ 
   /** flex-basis       : 0 ;  /* <-- see: https://css-tricks.com/flex-grow-is-weird/ */
   /** flex-grow        : 3 ;  **/
   
   border-width     : 5px ;
   border-style     : solid ;
   border-color     : rgb(50%,50%,50%);
   border-radius    : 4px ;
   margin-right     : 3px ;
}

#right_panel_id 
{
   /** flex-basis       : 0 ; /* <-- see: https://css-tricks.com/flex-grow-is-weird/ */
   /** flex-grow        : 1 ; **/

   border-width     : 5px ;
   border-style     : solid ;
   border-color     : rgb(50%,50%,50%);
   border-radius    : 4px ;
   overflow-y       : auto ;
}

.panel_sect_class 
{
   margin-left   : 5px ;
   margin-right  : 5px ;
   margin-top    : 10px ;
   border-left   : 0px ;
   border-right  : 0px ;
   border-top    : 0px ;
   border-bottom : 1px ;
   border-style  : solid ;
   border-color  : rgb( 60%, 60%, 60% );
}

#log_div_id, #clog_span_id
{
   font-family : "Lucida Console", Monaco, monospace	;
   font-size   : 11pt ; 
}


.popup_style_class
{
   font-family : 'Courier New', Courier, monospace ;
   position   : absolute ;
   z-index    : 10 ;
   left       : 50px ;
   top        : 50px ;
   width      : 75% ;
   height     : 75% ;
   resize     : both ;
   overflow-y : scroll ;
   
   font-size  : 12pt ;

   background-color : rgb(30%,30%,30%);
   /** border-style     : solid ;
   border-color     : rgb(90%,80%,0%); */
   border-radius    : 10px ;
   padding      : 1em ;
}

/*** see flexbox template areas as an easy way to define layout **/
/*** https://developer.mozilla.org/es/docs/Web/CSS/grid-template-areas **/


/*** use flexbox to create a grid with specified proportions (ver 3x3 grid (1) y (2)).... **/
/** https://tobiasahlin.com/blog/common-flexbox-patterns/ */